  <h4>マイページ</h4>
  <h5>登録情報</h5>
  <%= link_to "編集する", edit_customer_path(@customer) %>

<div>
  <table>
    <tr>
     <th>会員ID</th>
     <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
</div>

<h4>自分の投稿</h4>
<table>
<% @post.each do |posts| %>

  <th><%= link_to post_path(posts) do %>
  <%= image_tag posts.image %>
  <% end %></th>
<tr>
  <th>タイトル</th>
  <td><%= link_to posts.title, post_path(posts.id) %></td>
</tr>
<tr>
  <th>ジャンル</th>
  <td><%= posts.genre.name %></td>
</tr>
<tr>
  <th>説明</th>
  <td><%= posts.body %></td>
</tr>
<tr>
  <th>コメント</th>
  <td><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %></td>
</tr>
<% end %>
</table>
