<div>
<h4>投稿一覧</h4>
<% @genres.each do |genre| %>
<p><%= link_to genre.name, posts_path(genre_name: genre.name) %></p>
<% end %>


<% @post.each do |post| %>
<div>
  <%= image_tag post.image %>
  <p>タイトル<%= post.title %></p>
  <p>ジャンル<%= post.genre.name %></p>
  <p>説明<%= post.body %></p>
  <span><%= post.customer.last_name %><%= post.customer.first_name %></span>
  <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></span>
  <span><%= link_to "#{post.favorites.count} いいね", post_path(post.id) %></span>
</div>
<% end %>
</div>