<h4>ζ•η¨Ώθ©³η΄°</h4>
<table>
  <th><%= image_tag @post.image %></th>
<tr>
  <th>γ‚Ώγ‚¤γƒγƒ«</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>γ‚Έγƒ£γƒ³γƒ«</th>
  <td><%= @post.genre.name %></td>
</tr>
<tr>
  <th>θ¬ζ</th>
  <td><%= @post.body %></td>
</tr>
<tr>
  <th>π‘¤</th>
  <td><%= @post.customer.last_name %><%= @post.customer.first_name %></td>
</tr>
</table>
<% if @post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_favorite_path(@post), method: :delete do %>
        β™¥<%= @post.favorites.count %> γ„γ„γ­
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorite_path(@post), method: :post do %>
        β™΅<%= @post.favorites.count %> γ„γ„γ­
      <% end %>
    </p>
  <% end %>
<%= link_to "η·¨ι›†γ™γ‚‹", edit_post_path(@post) %>
