<div>

  <h3>æŠ•ç¨¿ä¸€è¦§</h3>
<div class="genre">
<p>ã‚¸ãƒ£ãƒ³ãƒ«æ¤œç´¢</p>
<% @genres.each do |genre| %>
<p><%= link_to genre.name, posts_path(genre_name: genre.name) %></p>
<% end %>
</div>

<% @post.each do |post| %>
<div class="post">
  <div class="image"><%= image_tag post.image, size: "100*100" %></div>
  <div class="body">
  <p>ã‚¿ã‚¤ãƒˆãƒ«&nbsp;:&emsp;<%= post.title %></p>
  <p>ã‚¸ãƒ£ãƒ³ãƒ«&nbsp;:&emsp;<%= post.genre.name %></p>
  <p>èª¬æ˜Ž&nbsp;:&emsp;<%= post.body %></p>
  <span>ðŸ‘¤<%= post.customer.last_name %><%= post.customer.first_name %></span>&nbsp;
  <span><%= link_to "#{post.post_comments.count} ã‚³ãƒ¡ãƒ³ãƒˆ", admin_post_path(post.id) %></span>&nbsp;
  <span><%= link_to "#{post.favorites.count} ã„ã„ã­", admin_post_path(post.id) %></span>
  </div>
</div>
<% end %>
</div>
  <style>
    h3{
     width: 130px;
     margin-left: 350px;
     margin-top: 50px;
     background: #e6e6e6;
     font-weight: bold;
     font-size: 25px;
    }
    div.genre{
     margin-top: 20px;
     margin-left: 100px;
    }
    div.post{
     margin-left: 400px;
     margin-top: 70px;
     transform: translateY(-100%);
     border-top: 1px solid #333;
     }
    div.body{
     margin-left: 110px;
     transform: translateY(-20%);
    }
    div.image{
     transform: translateY(70%);
    }
  </style>