<div>
<% @post.each do |post| %>
<div class="post">
  <%= image_tag post.image %>
  <p>ã‚¿ã‚¤ãƒˆãƒ«<%= post.title %></p>
  <p>ã‚¸ãƒ£ãƒ³ãƒ«<%= post.genre.name %></p>
  <p>èª¬æ˜Ž<%= post.body %></p>
  <p>ðŸ‘¤<%= post.customer.last_name %><%= post.customer.first_name %></p>
  <%= link_to "#{post.post_comments.count} ã‚³ãƒ¡ãƒ³ãƒˆ", admin_post_path(post.id) %>
  <%= link_to "#{post.favorites.count} ã„ã„ã­", admin_post_path(post.id) %>
</div>
<% end %>
</div>