<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<% @post.each do |post| %>
<div>
  <%= image_tag post.image %>
  <p>タイトル<%= post.title %></p>
  <p>ジャンル<%= post.genre.name %></p>
  <p>説明<%= post.body %></p>
  <p>👤<%= post.customer.last_name %><%= post.customer.first_name %></p>
</div>
<% end %>