<div class="detail">
<h4>æŠ•ç¨¿è©³ç´°</h4>
<table>
  <th><%= image_tag @post.image, width: "150px", height: "120px" %></th>
<tr>
  <th>ã‚¿ã‚¤ãƒˆãƒ«</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>ã‚¸ãƒ£ãƒ³ãƒ«</th>
  <td><%= @post.genre.name %></td>
</tr>
<tr>
  <th>èª¬æ˜Ž</th>
  <td><%= @post.body %></td>
</tr>
<tr>
  <th>ðŸ‘¤</th>
  <td><%= @post.customer.last_name %><%= @post.customer.first_name %></td>
</tr>
</table>
<p><%= link_to "#{@post.favorites.count} ã„ã„ã­", admin_post_path(@post.id) %></p>
<div class="create_comments">
  <p>ðŸ’­ã‚³ãƒ¡ãƒ³ãƒˆä»¶æ•°ï¼š<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.customer.last_name %><%= post_comment.customer.first_name %>
    <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p><p><%= post_comment.comment %></p>

    <%= link_to 'å‰Šé™¤', admin_post_comment_path(post_comment), method: :delete, data: { confirm: 'æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹?' } %>

  <% end %>
</div>
</div>
<style>
  h4{
    width: 100px;
    background: #e6e6e6;
    font-size: 25px;
    }
  div.detail{
     margin-left: 400px;
     margin-top: 20px;
     }
  div.create_comments{
    margin-top: 50px;
  }
</style>