<h4>æŠ•ç¨¿è©³ç´°</h4>
<table>
  <th><%= image_tag @post.image %></th>
<tr>
  <th>ã‚¿ã‚¤ãƒˆãƒ«</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>ã‚¸ãƒ£ãƒ³ãƒ«</th>
  <td><%= @post.genre.name %></td>
</tr>
<tr>
  <th>èª¬æ˜Ž</th>
  <td><%= @post.body %></td>
</tr>
<tr>
  <th>ðŸ‘¤</th>
  <td><%= @post.customer.last_name %><%= @post.customer.first_name %></td>
</tr>
</table>
<span><%= link_to "#{@post.post_comments.count} ã‚³ãƒ¡ãƒ³ãƒˆ", admin_post_path(@post.id) %></span>
<span><%= link_to "#{@post.favorites.count} ã„ã„ã­", admin_post_path(@post.id) %></span>