<div class="body">
  
<h3 style="width: 200px;">ログイン</h3>
<p style="width: 300px;">会員の方はこちらからログイン</p>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
</div>
<style>
    h3{
    background:#e6e6e6;
    padding-left:50px;
    padding-top:20px;
   }
   p{
    background:#e6e6e6;
    padding-left:50px;
    padding-top:20px;
   }
   div.field{
    padding-left:50px;
    padding-top:20px;
    
   }
   div.actions{
     padding-left:50px;
     padding-top:20px;
    }
    div.body{
     margin-left: 400px;
    }
  </style>