<!DOCTYPE html>
<html>
  <head>
    <title>Introducters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
      
      <li> 
        <%= link_to "マイページ", customers_path %>
      </li>
      <li> 
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
      <li> 
        <%= link_to "新規投稿", new_post_path %>
      </li>
        <%= form_with url: posts_searchs_path, local: true, method: :get do |f| %>
         <%= f.text_field :word %>
         
         <%= f.submit '検索' %>
        <% end %> 
    <% else %>
      <li>
        <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
    </header>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
